#gameArea{
    max-width: 1000px;
    margin: 0 auto;
}

#gameArea>div{
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.room__title{
	text-align: center;
}
.room__players-box{
	display: flex;
    justify-content: space-between;
    padding: 10px;
}
.caption{
    display: flex;
    flex-direction: column;
}

table{
    border-spacing: 0px;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    width: 40px;
    height: 40px;
}
.btn__start{
    margin-right: 20px;
}