//---------------------------------------------fonts
$font_path: "../../fonts/";
$font_1: sans-serif;
$font_size_base: 1.6rem;
//---------------------------------------------fonts###

//---------------------------------------------colors

// blocks colors
$color_card_item: #fffdf1;

// text colors
$color_text_standart: #000;

// link colors
$color_link_standart: #4aa3df;

// button colors
$color_btn_standart: #dce1e6;
$color_btn_standart_hover: #9e9e9e;
$color_btn_standart_text: black;
$color_btn_dark: darkred;
$color_btn_dark_hover: aqua;
$color_btn_dark__text: black;
//---------------------------------------------colors###