.cards-wrapper{
	display: flex;
	justify-content: center;
	width: 25.4rem;
	height: 50.2rem;
	margin: 0 auto;
	position: relative;
}

.card{
	width: 25.4rem;
    height: 40.2rem;
    padding: 10rem 2rem 0;
    background-color: black;
    text-align: center;
    color: rgb(76, 40, 135);
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    cursor: pointer;
    border: 3px solid rgb(76, 40, 135);
    position: absolute;
}

.card__title{
    pointer-events: none;
}

.card-transition{
    transition: all 0.2s ease;
}

.card-transition-finish{
    transition: all 1.5s ease;
}