.players{
  padding-left: 10px;
}
.player{
  display: none;
  align-items: center;
}
.active_player{
  display: flex;
}
.items{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  &__card{
    width: 100px;
    height: 100px;
    background-color: $color_card_item;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
  }
}