.input__theme_search-form{
    padding: 13px 100px 13px 0px;
    border: none;
    width: 384px;
    font-size: 16px;
    outline: none;
}

.search-form__search-box:hover,
.search-form__search-box:focus{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}